.photo{
    border-radius: 5px;
  }
#mcontainer{
    display: none;
}
#caption{
    color: #F6F6F6;
    font-family: 'Berkshire Swash';
    font-size: 104px;
    text-shadow: 2px 2px 10px #000;
}
#title{
    color: #000;
    font-family: 'Roboto';
    font-size: 74px;
}
#inviteNote, #inviteNote *{
    color: #fff;
    font-family: 'Roboto';
}
#sectionAddrText .card{
    background-color: transparent;
}

#addrText .title, #timeFrom .title, #timeTo .title{
    color: #fff;
}
#addrText .image, #timeFrom .image, #timeTo .image{
    color: rgb(75, 26, 88);
}
.card-image{
    padding:10px;
}
.box{
    background: transparent;
}